<!DOCTYPE html>
<html>
<head>
	<script src="https://cdn.shopify.com/s/assets/external/app.js"></script>
	<script type="text/javascript">
	ShopifyApp.init({
		apiKey: '<%= api_key %>',
		shopOrigin: 'https://<%= shop %>.myshopify.com'
	});
	</script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<link rel='stylesheet' href='../public/stylesheets/foundation.min.css' />
	<link rel='stylesheet' href='../public/stylesheets/style.css' />
	<title><%= title %></title>
</head>
<body>
	<script type="text/javascript">
	ShopifyApp.ready(function(){
		ShopifyApp.Bar.initialize({
			title: '<%= title %>',
			icon: '/images/logo.png'
		});
		ShopifyApp.Bar.loadingOff();
	});

	$(document).ready(function() {
		$("#activate").click(function() {
			$.get("/activate", function(data) {
				ShopifyApp.flashNotice("Activated Successfully");
			});
		});
		$(".switch").click(function() {
			$(this).toggleClass("on");
		});
	});
	</script>

	<span class="switch"></span> Hide Checkout with PayPal

</body>
</html>
